config gateway
    option ProductKey 'a1nTI8Slupd'
    option DeviceName 'wHzYRHnDpyVwUwfk5TAa'
    option DeviceSecret 'Fgcyxv1kroPBebKjDznockKZ4906fApb'

config subdev
    option ProductKey 'a1EoCcBi9Cg'
    option DeviceName 'FMpuzMD1lHZ2FJSmLkvL'
    option DeviceSecret 'HZ1LPDTq6eflJK3DVelsihQp775Jh6VB'